{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Barriecito&family=Kablammo&family=Moo+Lah+Lah&family=Oi&family=Rubik+Bubbles&family=Rubik+Distressed&family=Rubik+Gemstones&family=Rubik+Moonrocks&family=Rubik+Spray+Paint&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CMB_App/style.css' %}">
    <title>Select Secret Words | CMB</title>
</head>
<body id="select-password-body">
    <div id="select-password-block" class="no-padding">
        <h1 id="select-password-text" class="no-margin rubik-distressed-regular dark-green">Select Your Secret Words</h1>
        <form method="POST" action="{% url 'index' %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ username }}">
            {% for option in options %}
                <div class="select-password-option">
                    <select name="{{ option }}" class="bangers-regular">
                        <option value="unselected">Normal Word</option>
                        <option value="selected">Secret Word</option>
                    </select>
                    <span class="bangers-regular">{{ option }}</span>
                </div>
            {% endfor %}
            <br>
            <button type="submit" id="select-password-button" class="bangers-regular yellow-bg purple">Login</button>
        </form>
    </div>
</body>
</html>