/* LOGIN PAGE */

#login-body {
    background-color: #EE4266;
}

#login-block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
    background-color: #F3FCF0;
    padding: 50px;
    text-align: center;
}

#login-text {
    font-size: xxx-large;
    margin-bottom: 10px;
}

#login-button {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 10px 30px;
}

#login-button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFD23F;
}

#login-input {
    border: 1px solid #540D6E;
    border-radius: 0;
    margin: 20px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0);
}

#login-link {
    display: block;
    margin-top: 30px;
    font-size: medium;
    text-decoration: none;
}

#login-link:hover {
    font-size: large;
}


/* SELECT PASSWORD PAGE */
#select-password-body {
    background-color: #EE4266;
}

#select-password-block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
    background-color: #F3FCF0;
    padding: 50px;
    text-align: center;
}

#select-password-text {
    font-size: xx-large;
    margin-bottom: 10px;
}

.select-password-option {
    display: inline-block;
    background-color: #540d6eee;
    color: #F3FCF0;
    border: 1px solid #1F271B;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-right: 15px;
    margin: 5px;
}

.select-password-option select {
    padding: 10px;
    background-color: #F3FCF0;
    border: 1px solid #1F271B;
    margin-right: 10px;
}

#select-password-button {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 10px 30px;
    margin-top: 10px;
}

#select-password-button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFD23F;
}


/* CREATE ACCOUNT PAGE */
#create-account-body {
    background-color: #EE4266;
}

#create-account-block {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    height: fit-content;
    transform: translate(-50%, -25%);
    background-color: #F3FCF0;
    padding: 50px;
    text-align: center;
}

#create-account-text {
    font-size: xxx-large;
    margin-bottom: 30px;
}

#create-account-input {
    border: 1px solid #540D6E;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    margin-left: 10px;
}

#create-account-little-text {
    display: inline-block;
    margin-top: 30px;
}

.create-account-password {
    display: inline-block;
    border: 1px solid #540D6E;
    padding: 15px 15px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}

.create-account-input {
    border: 1px solid #540D6E;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    margin-left: 10px;
}

.create-account-password select {
    padding: 10px;
    background-color: #F3FCF0;
    border: 1px solid #1F271B;
    margin-right: 10px;
}

#create-account-button {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    font-size: larger;
    padding: 10px 30px;
    margin-top: 25px;
}

#create-account-button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFD23F;
}

#create-account-link {
    display: block;
    margin-top: 40px;
    font-size: medium;
    text-decoration: none;
}

#create-account-link:hover {
    font-size: large;
}

#create-account-bottom-spacer {
    width: 100%;
    height: 100px;
}

.message-box {
    display: inline-block;
    background-color: blue;
    width: fit-content;
    max-width: 500px;
    margin: 20px;
    padding: 10px;
}

.message-title {
    font-size: x-large;
}

.message-username {
    font-size: large;
}

.message-by {
    font-size: x-large;
}

.message-message {
    display: block;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-date {
    font-size: medium;
}


/* MAIN PAGE */
#main-page-body {
    margin: 0;
    padding: 0;
}

#logout {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    text-align: right;
    margin: 0;
    padding: 20px;
    user-select: none;    
}

#logout a {
    text-decoration: none;
    font-size: large;
}

#logout a:hover {
    font-size: x-large;
}

#message-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
}

#message-overlay-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#message-overlay-inner input {
    border: 1px solid #540D6E;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    margin-bottom: 10px;
}

#post-button, #cancel-button {
    border: 1px solid #FFD23F;
    border-radius: 0;
    font-size: larger;
    padding: 10px 30px;
    margin-top: 10px;
}

#cancel-button {
    background-color: rgba(0, 0, 0, 0);
}

#post-button:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FFD23F;
    color: #FFD23F;
}

#cancel-button:hover {
    border: 1px solid #EE4266;
    color: #EE4266;
}

#popup-post-button {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    font-size: xxx-large;
    border-radius: 50%;
    border: 5px solid #540D6E;
    user-select: none;
}

#popup-post-button:hover {
    background-color: rgba(0, 0, 0, 0);
}

#no-messages {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
}


/* GENERAL */

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.barriecito-regular {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}


.kablammo-regular {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 0;
}

.rubik-distressed-regular {
    font-family: "Rubik Distressed", system-ui;
    font-weight: 400;
    font-style: normal;
}

.rubik-moonrocks-regular {
    font-family: "Rubik Moonrocks", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.rubik-gemstones-regular {
    font-family: "Rubik Gemstones", system-ui;
    font-weight: 400;
    font-style: normal;
}

.moo-lah-lah-regular {
    font-family: "Moo Lah Lah", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rubik-bubbles-regular {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
}

.rubik-spray-paint-regular {
    font-family: "Rubik Spray Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.oi-regular {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
}

.purple {
    color: #540D6E;
}

.pink {
    color: #EE4266;
}

.yellow {
    color: #FFD23F;
}

.light-green {
    color: #F3FCF0;
}

.dark-green {
    color: #1F271B;
}

.purple-bg {
    background-color: #540D6E;
}

.pink-bg {
    background-color: #EE4266;
}

.yellow-bg {
    background-color: #FFD23F;
}

.light-green-bg {
    background-color: #F3FCF0;
}

.dark-green-bg {
    background-color: #1F271B;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}